@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?018178869903bd131636511db646abec") format("truetype"),
url("./flaticon.woff?018178869903bd131636511db646abec") format("woff"),
url("./flaticon.woff2?018178869903bd131636511db646abec") format("woff2"),
url("./flaticon.eot?018178869903bd131636511db646abec#iefix") format("embedded-opentype"),
url("./flaticon.svg?018178869903bd131636511db646abec#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-roof:before {
    content: "\f101";
}
.flaticon-pressure-washer:before {
    content: "\f102";
}
.flaticon-blockage:before {
    content: "\f103";
}
.flaticon-leak:before {
    content: "\f104";
}
.flaticon-gable:before {
    content: "\f105";
}
.flaticon-window-cleaning:before {
    content: "\f106";
}
.flaticon-tik-tok:before {
    content: "\f107";
}
.flaticon-google:before {
    content: "\f108";
}
.flaticon-facebook-app-symbol:before {
    content: "\f109";
}
.flaticon-instagram:before {
    content: "\f10a";
}
.flaticon-youtube:before {
    content: "\f10b";
}
.flaticon-clean-window:before {
    content: "\f10c";
}
